{{> head }}
{{> menu }}
<div class="row">
    <div class="col-8">
        <h1>Familia Innovak</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam illum ex distinctio! Porro dignissimos consectetur similique ut quam maiores! Eum, aut? Commodi dolor accusamus eum alias assumenda consequatur placeat!
    </div>

    <div class="col-4">
        <img src="img/1.jpeg" class="img-thumbnail">
    </div>
</div>
{{> footer }}